{% extends 'base.html' %}

{% block title %}Add New Post{% endblock %}

{% block content %}
<div class="container">
    <h2>Add New Post</h2>
    <form action="{{ url_for('add_post') }}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" required>
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Body:</label>
            <textarea class="form-control" id="body" name="body" rows="3" required></textarea>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category:</label>
            <select class="form-select" id="category" name="category" required>
                <option value="">Select a category</option>
                {% for category in categories %}
                <option value="{{ category[0]}}">{{ category[1]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="file" class="form-label">Post Image:</label>
            <input type="file" class="form-control" id="file" name="file" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    
</div>
{% endblock %}
